branca==0.6.0
folium==0.14.0
forex_python==1.8
matplotlib==3.8.0
leafmap==0.27.1
pandas
Pillow==10.1.0
plotly==5.17.0
pyproj==3.6.1
Requests==2.31.0
Shapely==2.0.2
streamlit==1.28.1
streamlit_folium==0.11.0
streamlit_option_menu==0.3.6
